<html>
<head>
    <meta charset="UTF-8">
    <title>Web Page Analyzer</title>
    <style>
        td.thick {
            font-weight: bold;
        }
    </style>
</head>
<body>
    <div>
        <h3>Web Page Analyzer</h3>
        <label>Enter a page URL to analyze</label>
        <form action="/analyze" method="post">
            <input type="text" name="targetUrl" placeholder="Enter Page URL" required>
            <button type="submit">Analyze</button>
        </form>

        {{if .TargetUrl}}
            {{if .Status}}
            <h4>Analyzer results for '{{.TargetUrl}}' as follows:</h4>
            <table>
                <tr>
                    <td class="thick">HTML Version: </td>
                    <td>{{.HtmlVersion}}</td>
                </tr>
                <tr>
                    <td class="thick">Page Title: </td>
                    <td>{{.PageTitle}}</td>
                </tr>
            </table>
            {{else}}
                <p style="color: red;">Error: {{.StatusMessage}}</p>
            {{end}}
        {{end}}
    </div>
</body>
</html>