<html>
<head>
    <meta charset="UTF-8">
    <title>Web Page Analyzer</title>
    <style>
        td.thick {
            font-weight: bold;
        }
    </style>
</head>
<body>
    <div>
        <h3>Web Page Analyzer</h3>
        <label>Enter a page URL to analyze</label>
        <form action="/" method="post">
            <input type="text" name="targetUrl" placeholder="Enter Page URL" required>
            <button type="submit">Analyze</button>
        </form>

        {{if .TargetUrl}}
            <h4>Analyzer results for '{{.TargetUrl}}' as follows:</h4>
            {{if .Status}}
                <table>
                    <tr>
                        <td class="thick">HTML Version: </td>
                        <td>{{.HtmlVersion}}</td>
                    </tr>
                    <tr>
                        <td class="thick">Page Title: </td>
                        <td>{{.PageTitle}}</td>
                    </tr>
                    <tr>
                        <td class="thick">Headings: </td>
                        <td>
                            H1 = {{.Headings.NumOfH1}} </br>
                            H2 = {{.Headings.NumOfH2}} </br>
                            H3 = {{.Headings.NumOfH3}} </br>
                            H4 = {{.Headings.NumOfH4}} </br>
                            H5 = {{.Headings.NumOfH5}} </br>
                            H6 = {{.Headings.NumOfH6}} </br>
                            (Note: This includes hidden tags as well)
                        </td>
                    </tr>
                    <tr>
                        <td class="thick">Links: </td>
                        <td>
                            External (Inaccessible) = {{.Links.NumOfExtLinks}}({{.Links.NumOfExtLinksInaccessible}}) </br>
                            Internal (Inaccessible) = {{.Links.NumOfIntLinks}}({{.Links.NumOfIntLinksInaccessible}}) </br>
                            Empty Links = {{.Links.NumOfEmptyLinks}} </br>
                            Non-HyperLinks = {{.Links.NumOfNonHyperLinks}} </br>
                        </td>
                    </tr>
                </table>
            {{else}}
                <p style="color: red;">Error: {{.StatusMessage}}</p>
            {{end}}
        {{end}}
    </div>
</body>
</html>